.container{
  display: flex;
  justify-content: center;
  position: relative;
  height: 90vh;
}
.card{
  border-radius:24px ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  width: 50vh;
  min-height: 55vh;
  max-height: 65vh;
}