.capital{
  h1{
    transform: translateY(-70px);
    color:#F2F2F2;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0;
    margin: 0;
  }
  position:relative;
}
.question{
  font-weight: 700;
  color: #2F527B;
  font-size: 24px;
  line-height: 36px;
  margin:0 0 32px 32px;
}
.image{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-80px);
}
.button{
  display: flex;
  justify-content: right;
  button{
    background: #F9A826;
    border: 2px solid rgba(96,102,208,0.7);
    border-radius: 12px;
    color: black;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 15px 15px 0;
    outline: none;
  }

}
