@use 'config/variable';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin bg-color ($LT : true){
  @if $LT {
    background: variable.$backgroundLT;
  }@else{
    background: variable.$backgroundDT;
  }
}

@mixin bg-card ($LT : true) {
  @if $LT {
    background: variable.$cardBackgroundLT;
    &:hover {
      background: #e1e3e9;
      cursor: pointer;
    }
  } @else {
    background: variable.$cardBackgroundDT;
    &:hover {
      background: #373b5f;
      cursor: pointer;
    }
  }
}

@mixin text-color-primary ($LT : true){
  @if $LT{
    color : variable.$textPrimaryLT
  }@else{
    color: variable.$textPrimaryDT;
  }
}

@mixin text-color-secondary ($LT : true){
  @if $LT{
    color : variable.$textSecondaryLT
  }@else{
    color: variable.$textSecondaryDT;
  }
}

@mixin border-bottom ($LT : true){
  @if $LT{
    border-bottom :.1em solid variable.$textSecondaryLT
  }@else{
    border-bottom:.1em solid variable.$textSecondaryDT;
  }
}

body{
  @include bg-color($LT : true);
  @include text-color-primary($LT: true);
  font-size: variable.$fontSize;
  font-family: variable.$fontFamily;
  font-weight: variable.$fontRegular;
  padding: .5rem;
  transition: background .3s;
  & h1,h2{
    font-weight: variable.$fontBold;
  }
  main{
    max-width: 600px;
    margin: auto;
  }
}
.dark{
  @include text-color-primary($LT: false);
  @include bg-color($LT : false)
}
.positive{
  color: variable.$limeGreen
}
.negative{
  color : variable.$brightRed
}

.header{
  div:first-child{
    padding: 1rem 0;
    @include border-bottom($LT : true);
    body.dark &{
      @include border-bottom($LT : false);
    }
    h1{
      font-size: 1.2rem;
      margin: 0;
    }
    p{
      @include text-color-secondary($LT: true);
      margin: 0;
      font-weight: variable.$fontBold;
      body.dark &{
        @include text-color-secondary($LT: false);
      }
    }
  }

  div:last-child{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    label{
      @include text-color-secondary($LT : true);
      align-self: center;
      font-weight: variable.$fontBold;
      body.dark &{
        @include text-color-secondary($LT : false);
      }
    }
    input{
      &[type="checkbox"]{
        width: 60px;
        height: 30px;
        position :relative;
        appearance: none;
        background: variable.$toggleLT;
        outline: none;
        border-radius: 20px;
        box-shadow:0 0 5px rgba(0,0,0,.2);
        transition : background .5s
      }
      &:checked[type="checkbox"]{
        background: variable.$toggleDT;
      }
      &[type="checkbox"]:before{
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        top: 0;
        left: 0;
        background: variable.$backgroundLT;
        transform: scale(0.8);
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        transition: left .5s;
      }
      &:checked[type="checkbox"]:before{
        left:30px;
        background: variable.$backgroundDT;
      }
    }
  }
}

.overall-list{
  padding: 0;
  margin: 2rem 0;
  li{
    @include bg-card($LT:true);
    body.dark & {
      @include bg-card($LT:false)
    }

    position: relative;
    list-style: none;
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1.4rem;

    div:nth-of-type(1){
      display: flex;
      justify-content: center;
      font-size: .6rem;
      font-weight: variable.$fontBold;

      @include text-color-secondary($LT:true);
      body.dark & {
       @include text-color-secondary($LT:false)
      }
      img{
        margin: 0 5px;
      }
    }
    div:nth-of-type(2){
      margin-top: 1rem;
      display: block;
      text-align: center;
      font-size: .5rem;
      font-weight: variable.$fontBold;
    }

    span:nth-of-type(1){
      display: block;
      text-align: center;
      font-size: 2rem;
      font-weight: variable.$fontBold;
      margin: .7rem 0 0 0;
    }
    span:nth-of-type(2){
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: .6rem;
      @include text-color-secondary($LT:true);
      body.dark & {
        @include text-color-secondary($LT:false)
      }
    }

  }

  @each $social ,$i in variable.$socials{
    .#{$social}::before{
      content: "";
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      left: 0;
      background: $i;
    }
  }
}

.overview-list{
  h2{
    @include text-color-secondary($LT: true);
    body.dark &{
      @include text-color-secondary($LT:false);
    }
  }
  ul{
    padding: 0;
    li{
      @include bg-card($LT: true);
      body.dark & {
        @include bg-card($LT: false)
      }
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      list-style: none;
      position:relative;

      div:nth-child(1){
        span:first-child{
          @include text-color-secondary($LT:true);
          body.dark & {
            @include  text-color-secondary($LT:false)
          }
          font-weight: variable.$fontBold;
          display: block;
          margin-bottom:30px;
        }
        span:last-child{
          font-size: 1.5rem;
          font-weight: variable.$fontBold;
        }
      }
      div:nth-child(2){
        img:first-child{
          float: right;
          margin-bottom: 40px;
        }
        img:last-child{
          transform: translate(-4px,7px);
          margin-left: 3px;
          margin-bottom: 0;
          float: left;
        }
        clear: both;
      }
    }
  }
}

@media screen and (min-width:variable.$desktop) {
  body main{
    max-width: 1280px;
  }
  .header{
    display: flex;
    justify-content: space-between;
    div:nth-child(1){
      h1{
        font-size: 1.8rem;
      }
      p{
        font-size: .8rem;
      }
      border:none !important;
    }
    div:nth-child(2){
      align-items: center;
      label{
        font-size: .7rem;
        margin-right: .5rem;
      }
    }
  }
  .overall-list{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    li{
      div:nth-of-type(1){
        font-size: .7rem;
      }
      div:nth-of-type(2){
        margin-top: 1.5rem;
        font-size: .6rem;
      }
      span:nth-of-type(1){
        font-size: 2.5rem;
        margin: 1rem 0 0 0;
      }
      flex-basis: 19%;

    }
  }

  .overview-list{
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        flex-basis: 20%;
        margin : .7rem 0;
      }
    }
  }
}

