@use 'config/variable';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin bg-color ($light-theme : true){
  @if $light-theme {
    background: variable.$backgroundLT;
  }@else{
    background: variable.$backgroundDT;
  }
}

@mixin text-color ($light-theme : true){
  @if $light-theme{
    color : variable.$textPrimaryLT
  }@else{
    color: variable.$textPrimaryDT;
  }
}


body{
  @include bg-color($light-theme : true);
  @include text-color($light-theme: true);
  font-size: variable.$fontSize;
  font-family: variable.$fontFamily;
  font-weight: variable.$fontRegular;
  & h1,h2{
    font-weight: variable.$fontBold;
  }
}
.dark{
  @include text-color($light-theme: false);
  @include bg-color($light-theme : false)
}


.header{
  h1{

  }
}